.ipynb_checkpoints
output
desktop.ini
test.py
test.ipynb
Links.txt
Отчет НИР.docx
term_frequency_annotation.txt
term_frequency_name.txt
DocTerm.txt
name_tf_idf_short.txt
Классификация без удаления малозначимых терминов.txt
data.xlsx test_data.xlsx
tf-idf with reduced size (be name).xlsx
tf-idf with reduced size (by annotation).xlsx
train_data.xlsx
annotation_tf_idf_short.txt
Links.txt
ROC curve for ANNOTATION.png
ROC curve for NAME.png
Классификация КБС с удалением малозначимых терминов.txt
Классификация random forest с удалением малозначимых терминов NAME.txt
Классификация random forest с удалением малозначимых терминов.txt
Классификация random tree с удалением малозначимых терминов.txt
Классификация без удаления малозначимых терминов.txt
Классификация КБС с удалением малозначимых терминов.txt
Классификация с логистической регрессией удалением малозначимых терминов.txt
Метки random forest NAME.txt
Метки random forest.txt
Метки random tree.txt
Метки КБС.txt
Метки логистической регрессии.txt
Тестовая выборка ANNOTATION.txt
Тестовая выборка NAME.txt
Тестовая выборка исходные метки ANNOTATION.txt
Тестовая выборка исходные метки NAME.txt
Отчет НИР Козлов И.А. Бинарная текстовая классификация.docx
Классификация КБС с удалением малозначимых терминов.txt
Классификация random forest с удалением малозначимых терминов ANNOTATION.txt
Классификация random forest с удалением малозначимых терминов NAME_param.txt
Классификация КБС БЕЗ удаления малозначимых терминов.txt
Метки random forest ANNOTATION_1.txt
Метки random forest ANNOTATION.txt
Метки random forest NAME_param_1.txt
Метки random forest NAME_param.txt
Метки КБС без удаления терминов.txt